* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
}
main {
    width: 98vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    width:8vw;
    height: 6vh;
    border-radius: 1vw;
    border: none;
    background-color: rgb(126, 126, 133);
    color: rgb(12, 11, 11);
    font-size: 2.4vh;
    font-family: 'Roboto', sans-serif;
}